@model MainProductsViewModell
@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

<div class="row">
    @using (Html.BeginForm("Index", "Home", FormMethod.Get))
    {
        <table>
            <tr>
                <th>
                    <label for="searchInput">Search by name</label>
                    <input name="search" id="searchInput" type="text">
                </th>
                <th>
                    <label>
                        <input name="male" type="checkbox" class="filled-in"/>
                        <span>Male</span>
                    </label>
                    <label>
                        <input name="female" type="checkbox" class="filled-in"/>
                        <span>Female</span>
                    </label>
                </th>
                <th>
                    <label>Select data</label>
                    <select name="size">
                        <option value="" disabled selected>Choose your option</option>
                        <option value="XS">XS</option>
                        <option value="S">S</option>
                        <option value="M">M</option>
                        <option value="L">L</option>
                        <option value="XL">XL</option>
                        <option value="XXL">XXL</option>
                        <option value="XXXL">XXXL</option>
                    </select>
                </th>
                <th>
                    <button class="btn waves-effect waves-light right blue" type="submit" name="action">
                        Search
                    </button>
                </th>
            </tr>
        </table>
    }
    @foreach (var prod in Model.Products)
    {
        <div class="col s12 m2">
            <div class="card">
                <div class="card-image">
                    @* <img class="materialboxed" src="~/lib/Images/shirt1.png" alt="shirt image" style="width: 100%"> *@
                    @Html.Raw("<img style='width:100%; height:100%; alt=shirt image' class='materialboxed' src=\"data:image/jpeg;base64,"
                              + Convert.ToBase64String(prod.Image) + "\" />")
                </div>
                <div class="card-content">
                    <p>
                        @prod.Name
                    </p>
                    <p>
                        <b>@prod.Cost$</b>
                    </p>
                    <p>
                        Size: @prod.Size
                    </p>
                </div>
                <div class="center card-action">
                    @*<a class="waves-effect waves-light btn-small">Add to cart</a>*@
                    <!-- Modal Trigger -->
                    <a class="waves-effect waves-light btn modal-trigger" href=@("#modal" + prod.Id)>Select</a>

                    <!-- Modal Structure -->
                    @using (Html.BeginForm("MakeOrder", "Purchase", routeValues: new {ProductId = prod.Id.ToString()}, FormMethod.Post))
                    {
                        <div id=@("modal" + prod.Id) class="modal" style="height: 53%">
                            <div class="modal-content">
                                <h4>@prod.Name</h4>
                                <p>@prod.Description</p>
                                <p>
                                    <input readonly value=@(prod.Cost.ToString().Replace(',', '.') + "$")>
                                </p>
                                <div class="col m8 offset-m2 s12 z-depth-2">
                                    <input name="Quantity" value="1" type="number" onchange="nChanged()" min="1" max="500" id="amount" class="validate">
                                    <label for="amount" data-error="Invalid number">Amount</label>
                                    <p type="text" id="tot_amount" readonly value="123">Total price: @(prod.Cost + "$")</p>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <p class="left">Enter your address</p>
                                <input required name="address" id="address" type="text">
                                <button type="submit" value="Create" class="purple btn .light-purple.accent-3 waves-effect waves-light">
                                    Add to card
                                </button>
                            </div>
                            <br>
                        </div>
                    }
                    
                    <br>
                    <a class="waves-effect waves-light btn modal-trigger" href=@("#modalo" + prod.Id)>Feedbacks</a>
                    <!-- Modal Structure -->
                    @using (Html.BeginForm("LeaveComment", "Purchase", routeValues: new {ProductId = prod.Id.ToString()}, FormMethod.Post))
                    {
                        <div id=@("modalo" + prod.Id) class="modal" style="height: 53%">
                            <div class="modal-content">
                                <h4>@prod.Name</h4>
                                <p>@prod.Description</p>

                                <input placeholder="Placeholder" name="Comment" id="comment" type="text" class="validate">
                                <label for="comment">Enter your comment</label>
                                <button type="submit" value="Create" class="green right btn .light-purple.accent-3 waves-effect waves-light">
                                    Leave Comment
                                </button>
                                <table>
                                    <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Comment</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    @foreach (var comment in Model.Comments.Where(w => w.Product.Id == prod.Id).OrderByDescending(o => o.SubmitDate))
                                    {
                                        <tr>
                                            <td>@comment.UserName</td>
                                            <td>@comment.Text</td>
                                        </tr>
                                    }
                                    </tbody>
                                </table>

                            </div>
                            <div class="modal-footer">

                            </div>
                            <br>
                        </div>
                    }
                </div>
            </div>
        </div>
    }
</div>
<div class="center">
    <ul class="pagination">
        @* <li class="disabled"> *@
        @*     <a href="#!"> *@
        @*         <i class="material-icons"><</i> *@
        @*     </a> *@
        @* </li> *@
        @if (Model.CurrentPage > 5)
        {
            @for (long num = Model.CurrentPage - 5; num <= Model.MaxPages && num <= Model.CurrentPage + 5; num++)
            {
                @if (num == Model.CurrentPage)
                {
                    <li class="active">
                        <a href="?id=@num">@num</a>
                    </li>
                }
                else
                {
                    <li class="waves-effect">
                        <a href="?id=@num">@num</a>
                    </li>
                }
            }
        }
        else
        {
            @for (long num = 1; num <= Model.MaxPages && num <= 10; num++)
            {
                @if (num == Model.CurrentPage)
                {
                    <li class="active">
                        <a href="?id=@num">@num</a>
                    </li>
                }
                else
                {
                    <li class="waves-effect">
                        <a href="?id=@num">@num</a>
                    </li>
                }
            }
        }
        @* <li class="waves-effect"> *@
        @*     <a href="#!"> *@
        @*         <i class="material-icons">></i> *@
        @*     </a> *@
        @* </li> *@
    </ul>
</div>
<script >
    function nChanged(){
    $(":input").bind('keyup mouseup', function () {
        let price = $(this).parent().prev().children().val();
        price = price.slice(0, price.length)
        $(this).next().next().text("Total price: " + parseFloat((parseFloat($(this).val()) * parseFloat(price))+ "$")).toFixed(2)
    })
    }
    </script>
<script >M.AutoInit();</script>