@using System.Globalization
@model List<Order>

@{
    Layout = "_Layout";
}
<h1 class="center">Your current orders</h1>
<div class="row container" style="min-height:100vh">
    <div class="col s12">
        <div class="col m12 z-depth-2 white darken-4">
            <table>
                <thead>
                <tr>
                    <th>Item name</th>
                    <th>Item quantity</th>
                    <th>Order price</th>
                    <th>Order status</th>
                    <th>Track Order</th>
                    <th>Quantity</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var order in Model)
                {
                    <tr>
                        <td>@order.Product.Name</td>
                        <td>@order.Quantity.ToString()</td>
                        <td>@((order.Product.Cost * order.Quantity).ToString(CultureInfo.InvariantCulture))$</td>
                        <td>@order.OrderStatus.ToString()</td>
                        <td>
                            <a class="waves-effect orange waves-light btn modal-trigger" href=@("#modalo" + order.Id)>Track</a>

                            <div id=@("modalo" + order.Id) class="modal">
                                <div class="modal-content">
                                    <h4>Track Order</h4>

                                    <p>Current order status: <b>@order.OrderStatus.ToString()</b></p>
                                    <p>Approximate arrival date: <b>@order.OrderDate.AddMonths(1).ToString(CultureInfo.InvariantCulture)</b></p>
                                </div>
                                <div class="modal-footer">
                                    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
                                </div>
                            </div>
                        </td>
                        <td>
                            <a class="waves-effect waves-light btn modal-trigger" href=@("#modal" + order.Id)>Change quantity</a>

                            @using (Html.BeginForm("ChangeQuantity", "Purchase", routeValues: new {id = order.Id.ToString()}, FormMethod.Post))
                            {
                                <div id=@("modal" + order.Id) class="modal">
                                    <div class="modal-content">
                                        <h4>Change quantity</h4>
                                        <input name="quantity" type="number" min="1" max="500" class="validate">
                                    </div>
                                    <button type="submit" value="Create" class="btn right green waves-effect waves-light">
                                        Update
                                    </button>
                                    <div class="modal-footer">
                                        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
                                    </div>
                                </div>
                            }
                        </td>
                        <td>
                            @using (Html.BeginForm("DeleteOrder", "Purchase", routeValues: new {id = order.Id.ToString()}, FormMethod.Post))
                            {
                                <button type="submit" value="Create" class="btn red waves-effect waves-light">
                                    Delete
                                </button>
                            }
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script >
M.AutoInit();
</script>